.footer {
  background: rgba(18, 13, 23, 1);
  color: #fff;
  padding: 40px 0px;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-left {
  flex: 1;
  min-width: 332px;
  max-width: 661px;
}

.footer-description {
  margin-top: 30px;
  font-family: var(--TypographyFontFamilyBody-WorkSans);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.01em;
  text-align: left;
}

.footer-icons {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.footer-icons a {
  color: #fff;
  font-size: 24px;
  border-radius: 50%;
  transition: color 0.3s ease, border-color 0.3s ease;
}

.footer-icons a:hover {
  color: #ff4dba;
}

.footer-center {
  padding: 85px 0px 0px 10px;
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  margin-bottom: 10px;
  font-family: var(--TypographyFontFamilyBody-WorkSans);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.01em;
  text-align: left;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.11px;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #ff4dba;
}

/* Mobile styles for screens up to 768px */
@media screen and (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-left, .footer-center {
    width: 100%;
    max-width: 100%;
  }

  .footer-description {
    font-size: 14px;
    line-height: 24px;
    margin-top: 15px;
    text-align: center;
  }

  .footer-icons {
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
  }

  .footer-center {
    padding-top: 20px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .footer-links {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
  }

  .footer-links li {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 22px;
  }

  .footer-links a {
    font-size: 14px;
  }

  .footer-copyright {
    font-size: 12px;
    margin-top: 10px;
  }

  .footer-links {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
  }
}

/* Mobile styles for screens up to 480px */
@media screen and (max-width: 480px) {
  .footer {
    padding: 20px 0;
  }

  .footer-description {
    font-size: 12px;
    line-height: 20px;
  }

  .footer-icons {
    gap: 15px;
  }

  .footer-center {
    padding-top: 20px;
    align-items: center;
    flex-wrap: wrap;
  }

  .footer-links li {
    font-size: 12px;
    line-height: 20px;
  }

  .footer-links a {
    font-size: 12px;
  }

  .footer-copyright {
    font-size: 12px;
    margin-top: 20px;
    text-align: center;
  }

  .footer-links {
    flex-direction: column;
    gap: 10px;
  }
}
